*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;

}

/*html{
    scroll-behavior: smooth;
}*/


/* JS STYLES*/
.fade-out{
    transform: translate(-100%);
    opacity: 0;
}

.fadeout{
    opacity:0;
}

.fadein{
    opacity:1;
}

.bodyExpand{
    height:80%;
}

/*END OF JS STYLES*/



 /* ::-webkit-scrollbar-thumb {
    background: #424242; 
  }

  ::-webkit-scrollbar {
    background-color:white;
}
*/


button{
    cursor: pointer;
    transition: ease 0.3s;
}

button:hover{
    background-color:white !important;
    color:black !important;
    transform: scale(1.1,1.1);
    
}

#light-container{
    width:50px;
    height:50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    position: absolute;
    bottom: 50;
}

#light-container i{
    font-size:1.4em;
}

header{
    /*background-color:#141414;*/
    background-color:white;
    height:16%;
    width:100%;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    font-size:1.4em;
    color:#363636;
    align-self: flex-start;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
}


#section-1{
    height:23%;
    min-height:100px;
    width:100%;
    background:linear-gradient(rgba(41,75,79,0.9), rgba(41,75,79,0.9)), url("background2.jpg");
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-family: 'raleway';
    background-position:center;
}

#section-1 h4{
    margin-bottom: 25px;
    font-size:0.8em;
  
}

#section-1 p{
    font-size:1.2em;
    font-weight: 300;
}

main{
    background-color:#141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    height:35%;
    max-height:1000px;
    transition: ease-in-out 0.65s;
}

@media only screen and (max-width: 730px) {
    main {

      height:210px;
    }
  }


main img{
    width:50px;
    position: absolute;
}

nav{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

@media only screen and (max-width: 730px) {
    #nav-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


#main-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:500px;
    padding-left:5%;
    padding-right:5%;
    margin:0 !important;
    
}


.page-wrap{
    width:1000px;
    max-width:100%; /*Wrapper width*/
    margin-left:5%;  /*Nice space between content and device border*/
    margin-right:5%;  /*Nice space between content and device border*/
}

#arrow{

    font-size:1.5em;
    color:white;
    display: none;
    cursor: pointer;
    display: none;
    align-self: flex-start;
    transition: ease-in-out 0.3s;

}





#back{
    font-size: 0.8em;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 400;

}

#header-2{
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-2 h1{
    color:white;
}




#welcome-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    color:white;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Open Sans'
}

#welcome-button{
    width:153.11px;
    padding-top:10px;
    padding-bottom: 10px;
    border: solid 2px white;
    border-radius: 50px;
    background-color:transparent;
    color:white;
    font-family: 'Baloo Bhaina 2', cursive;
    position: relative;
    bottom:20px;
}


#button-div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    scrollbar-width: 5% !important;
    padding-bottom: 50px !important;
}

@media only screen and (max-width: 730px) {
    #button-div {
     padding-bottom: 0 !important;
      overflow-x: hidden !important;
      overflow-y: scroll !important;
      height:300px !important;
      padding-right: 50px !important;

    }
  }

#button-div::-webkit-scrollbar {
    height: 5px !important; 
    overflow-x: scroll !important;
    background-color:white !important;
    border-radius: 50px;

}

@media only screen and (max-width: 730px) {
    #button-div::-webkit-scrollbar {
     width:5px !important;

    }
  }



#button-div::-webkit-scrollbar-track {
    background-color:#424242 !important;
}

#button-div::-webkit-scrollbar-thumb {
    background-color:white !important;
}



@media only screen and (max-width: 730px) {
    #button-div {
      flex-direction: column !important;
      width:50% !important;
    }
  }

#button-div button{
    margin-top:20px;
    margin-bottom:20px;
    padding:12px;
    min-width:192.3px;
}

@media only screen and (max-width: 730px) {
    #button-div button {
      margin:0;
    }
  }


#intro-question{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    transition: ease-in-out 0.3s;
    opacity: 0;
}

#intro-question button{
    padding:12px;
    border: solid 2px white;
    border-radius: 1px;
    background-color:transparent;
    color:white;
    font-family: 'Baloo Bhaina 2', cursive;
    margin:10px;
    border-radius: 50px;
}



#intro-question h1{
    font-size:1.6em;
    margin-bottom: 50px;

}

.happy-bible-box{
color:white;
max-width: 500px;
width:100%;
display: none;
transition: ease 0.3s;
}

#title{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.happy-bible-box p{
    margin-top:12px;
    margin-bottom:30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 2;
}

.box-button{
    padding-left:20px;
    padding-right: 20px;
    padding-top:12px;
    padding-bottom:12px;
    border: solid 1.5px white;
    border-radius: 50px;
    background-color:transparent;
    color:white;
    font-family: 'Manrope', sans-serif;
}


#section-2{
    height:50%;
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
}

#section-2-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#section-2 h1{
    font-family: 'Open Sans';
    margin-bottom: 20px;
}





footer{
    height:100px;
    width:100%;
    background-color:#141414;
    color:#898989;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-size:0.8em;
}







